<section class="primary-screen" *ngIf="!type; else elseBlock">
    <app-scoring team="ketchup" [score]="score['ketchup']"></app-scoring>
    <app-scoring team="mayo" [score]="score['mayo']"></app-scoring>
</section>

<ng-template #elseBlock>
  <section>
      <app-scoring [team]="type" [score]="score[type]"></app-scoring>
  </section>
</ng-template>

<app-common-screen *ngIf="game.commonScreen"></app-common-screen>