@import '../../../theme.scss';

section{
  background-color: rgb(204, 204, 204);
  padding: 5px;
  display: flex;
  .score-box{
    width:50%;
    display:flex;
    justify-content:center;
    button{
      background-color: white;
      &:nth-child(2){
        border-radius: 0;
        border-right: 1px solid rgb(207, 207, 207);
      }
      &:nth-child(3){
        border-radius: 0 10px 10px 0;
      }
    }
    .team{
      padding:0px 0px;
      border-radius: 10px 0 0 10px;
      min-width:40px;
      text-align: center;
      color: rgba(0, 0, 0, 0.750);
      &.ketchup{
        background-color: $colorKetchup;
      }
      &.mayo{
        background-color: $colorMayo;
      }
    }
  }
}