<section>

  <div class="score-box">
    <button mat-button (click)="changeCurrentTeam('ketchup')" class="team ketchup">{{ score.ketchup }}</button>
    <button mat-button (click)="addPoint('ketchup')">+</button>
    <button mat-button (click)="removePoint('ketchup')">-</button>
  </div>

  <div class="score-box">
    <button mat-button (click)="changeCurrentTeam('mayo')" class="team mayo">{{ score.mayo }}</button>
    <button mat-button (click)="addPoint('mayo')">+</button>
    <button mat-button (click)="removePoint('mayo')">-</button>
  </div>
</section>