<section>
  <ng-container *ngIf="!theme; else elseBlock">
    <header class="jingle">
      <app-jingle-button jingle="nuggets"></app-jingle-button>
    </header>
    <ul>
      <li *ngFor="let t of themes" (click)="selectTheme(t._id)">
        {{ t.theme }}
      </li>
    </ul>
  </ng-container>
  <ng-template #elseBlock>
    <header>
      <h5>{{ theme.theme }}</h5>
      <span>{{nq+1}}/{{tq}}</span>
    </header>
    <app-questions [question]="theme.questions[nq]" [end]="nq+1 == tq" (next)="nextQuestion()"></app-questions>
  </ng-template>
</section>