section{
  h4{
    text-align: center;
  }
  ol{
    list-style-position: inside;
    padding:0;
    li{
      padding:20px 10px;
      &:nth-child(2n+1){
        background-color: rgb(216, 216, 216);
      }
      &:nth-child(2n+0){
        background-color: rgb(233, 233, 233);
      }
      &.selected{
        background-color: cadetblue;
      }
      &.disabled{
        color: rgba(0, 0, 0, 0.400);
      }
      &.bad{
        background-color: rgb(224, 80, 80);
      }
      &.good{
        background-color: rgb(116, 180, 52);
      }
    }
  }
  .buttons-zone{
    display: flex;
    justify-content: center;
  }
}