<section>
<h4>{{question.title}}</h4>
 <ol type="A">
   <li *ngFor="let a of answers" (click)="selectQuestion(a.type)" [ngClass]="a.classes">{{a.answer}}</li>
 </ol>
 <div class="buttons-zone" [ngSwitch]="state">
   <ng-container *ngSwitchCase="'stopped'">
      <button mat-raised-button color="primary" (click)="onStart()">Start</button>
   </ng-container>
   <ng-container *ngSwitchCase="'started'">
      <button mat-raised-button (click)="nextAnswer()">Next</button>
   </ng-container>
   <ng-container *ngSwitchCase="'answer'">
      <button *ngIf="selected > -1; else elseBtn" mat-raised-button color="accent" (click)="validAnswer()">Bonne réponse : {{letters[question.good-1]}}</button>
      <ng-template #elseBtn>
         <button mat-raised-button color="accent" disabled>Bonne réponse : {{letters[question.good-1]}}</button>
      </ng-template>
   </ng-container>
   <ng-container *ngSwitchCase="'next'">
      <button mat-raised-button (click)="nextQuestion()">Question suivante</button>
   </ng-container>
   <ng-container *ngSwitchCase="'end'">
      <button mat-raised-button disabled>fin des questions</button>
   </ng-container>
 </div>
</section>