<section>
  <div class="miams-zone">
    <div class="score-zone" [ngClass]="team">{{ formatedScore(score) }}</div>
    <div class="all-miams">
      <div *ngFor="let image of images" class="miam" [ngStyle]="{'background-image': 'url('+image.image.src+')', opacity: image.opacity}"></div>
      <video [ngStyle]="{'display': videoDisplay}" #videoWin></video>
    </div>
  </div>
</section>