@import '../../theme.scss';

section {
  background-color: black;
  position: relative;
  width:100%;
  height: 100%;
}

.score-zone{
  position: relative;
  left: 22%;
  bottom:30%;
  // right:20%;
  font-family: 'burger-quiz';
  font-size: 14rem;
  z-index: 1;
}

.miams-zone{
  width:100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-miams{
  width:100%;
  height: 100%;
  // background-color: green;
  position: absolute;
}

.miam{
  width:100%;
  height: 100%;
  position: absolute;
  // background-color: aqua;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ketchup {
  color: $colorKetchup;
}

.mayo {
  color: $colorMayo;
}

video{
  width:100%;
  height: 100%;
  position: absolute;
}