<section>
  <app-jingle-button jingle="sel-ou-poivre"></app-jingle-button><br/><br/>
  <app-jingle-button jingle="l-addition"></app-jingle-button>addition<br/><br/>
  <app-jingle-button jingle="le-burger-de-la-mort"></app-jingle-button>burger de la mort<br/><br/>
  <app-jingle-button jingle="burger-win"></app-jingle-button>burger de la mort réussi !<br/><br/>
</section>