@import '../../../theme.scss';

section{
  width:100%;
  height:100%;
  position: absolute;
  &.ketchup{
    background-color: $colorKetchup;
  }
  &.mayo{
    background-color: $colorMayo;
  }
  .container{
    margin: 50px 0 0 50px;
    width:calc(100% - 100px);
    height:calc(100% - 100px);
    background-color: rgb(192, 222, 228);
    border-radius: 50px;
    overflow: hidden;
    .content{
      padding: 30px 150px;
      .questions{
        >div{
          opacity: 0;
          &.display{
            opacity: 1;
          }
          &.selected{
            color: blue;
          }
          &.wrong{
            color: red;
          }
          &.good {
            color: green;
          }
          width: 100%;
          // background-color: green;
          display: flex;
          >div{
            padding: 40px 0;
            &:first-child{
              font-size: 7em;
              font-family: "burger-quiz";
              padding: 0 30px 0 10px;
            }
            &:last-child{
              font-family: "dimbo";
              font-weight: 400;
              font-size:3.5em;
            }
            display: flex;
            align-items: center;
          }
        }
      }
    }
    h1{
      margin:0 0 20px 0;
      font-family: "dimbo";
      font-size: 5em;
      font-weight: 400;
      text-align: center;
    }
  }
}