/* You can add global styles to this file, and also import other style files */

body{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "burger-quiz";
  src: url("assets/horseshoeslemonade.ttf") format("ttf"),
        url("assets/horseshoeslemonade.otf") format("opentype");
 }

 @font-face {
  font-family: "dimbo";
  src: url("assets/Dimbo-Regular.ttf");
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
