<section [ngSwitch]="gameParameters.mode">
  <app-question *ngSwitchCase="'nuggets'" [team]="gameParameters.currentTeam"
  [question]="gameParameters.question"
  [selections]="gameParameters.selections"
  [selected]="gameParameters.selected"
  [display]="gameParameters.display"
  [validated]="gameParameters.validated"
  [answer]="gameParameters.answer"></app-question>
  <app-jingle *ngSwitchCase="'jingle'" [jingle]="gameParameters.jingle"></app-jingle>
</section>